[submodule "auto-poster"]
	path = auto-poster
	url = https://github.com/kr-ai-dev-association/auto-poster.git
[submodule "tech-blog"]
	path = tech-blog
	url = https://github.com/kr-ai-dev-association/tech-blog.git
[submodule "gdoc-fixer"]
	path = gdoc-fixer
	url = https://github.com/tonythefreedom/gdoc-fixer.git
